
/* 640*1024 */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    /* home */
    /* service */
    #allServicePage
    {
        width: 100%;
        height: auto;
        padding: 20px 15px 0 15px;
        overflow-x: hidden;
        margin: 0;
    }
    .title 
    {
        font-size: 50px;
        text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.418);
    }
    .subtitle
    {
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.418);
    }
    .block-space
    {
        height: 10px;
        padding: 0;
    }
    .top-service-image-text 
    {
        width: 100%;
        height: 300px;
    }
    .black-mirror {
        box-sizing: border-box;
    }
    .black-mirror #messent-container {
        width: 96%;
        height: 600px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 20px 0 15px 0;
    }
    
    #messent-container .messent {
        font-size: 16px;
    }
    #messent-container img {
        width : 50%;
        height: auto;
    }

    #messent-container button {
        width : 20%;
        height: 10%;
    }

    .imonetwto
    {
        width: 100%;
        margin: 0 auto;
    }
    .col-md-5
    {
        flex: 0 0 41.666667%;
        max-width: 100vw!important;
        margin: 0;
        padding: 0;
    }
    #second-service-image-one
    {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    #second-service-image-two.col-md-5 
    {
        width: 100%;
        padding: 0;
        margin: 3% auto;
    }
    #measuring
    {
        display: flex;
        flex-direction: column;
    }
    div.row
    {
        margin: 0;
        padding: 0;
    }
    .col-md-2
    {
        flex: 1px!important;
        max-width: 100%!important;
        padding: 0;
    }
    #second-service-image-text
    {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    #second-service-image-text-text p 
    {
        text-align: left;
        font-size: 18px;
        line-height: 1.6em;
    } 
    #second-service-image-text-text 
    {
        margin: 20px auto;
        padding: 0;
    } 
    .col-md-8
    {
        flex: 1px!important;
        max-width: 100%!important;
    }
    #franc-measuring img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    #franc-measuring
    {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span.fitfont 
    {
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    span.fitfont img
    {
        width: 70%;
        height: 70%;
        padding: 0;
        margin: 0 auto!important;
        display: flex;
    }
    div#franc-measuring-text
    {
        width: 100vw!important;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    span.nota-bene-service2
    {
        width: 100%;
        margin: 0 auto 5px auto;
        height: auto;
        line-height: 1.6em;
        font-size: 18px!important;
    }
    
    div#franc-measuring-text2
    {
        width: 100vw!important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    div#franc-measuring-text2 img
    {
        width: 70%;
        height: 70%;
        padding: 0;
        margin: 0 auto -10% auto;
        display: flex;
    }
    div#franc-measuring2 img
    {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    div#franc-measuring2
    {
        width: 100%;
        padding: 0;
    }
    div#franc-measuring-text3
    {
        width: 100vw!important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #franc-measuring-text3 img
    {
        width: 70%;
        height: 70%;
        padding: 0;
        margin: 0 auto 0 auto;
        display: flex;
    }
    #franc-measuring3 img
    {
        width: 100%;
        height: auto!important;
        margin-top: 5%;
    }
    #franc-measuring3
    {
        width: 100%;
        padding: 0;
    }
    .about-franc div.col-md-2 
    {
        display: none;
    }
    .col-lg-5.col-md-12.abf 
    {
        width: 100%;
        padding: 0;
    }
    .imagegalere
    {
        width: 100%;
        height: auto;
    }
    .about-franc-titre
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-franc-text-texte
    {
        padding: 0;
        margin: 0 auto 15px auto;
    }
    .abm img
    {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    /* lifestyle */
    #allServicePage
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Dosis';
    }
    #lifestyle-one.row
    {
        width: inherit;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    #lifestyle-one.row img
    {
        width: 90vw;
        height: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .lifestyle-im-1 img
    {
        width: 90%;
        height: auto;
    }
    .lifestyle-card
    {
        width: 100%!important;
        padding: 0px;
        color: black;
        text-align: justify;
        margin: -8% 0 10% 20%;
    }
    #lifestyle-two.row
    {
        width: inherit;
        height: auto;
        margin: 0 auto;
        padding: 2px;
        display: flex;
        flex-direction: column-reverse;
    }
    .lifestyle-texte
    {
        margin-right: 14%;
    }
    .costume img
    {
        width: 90vw!important;
        margin: 0 auto;
        height: auto;
    }
    div.col-md-7.costume
    {
        padding: 0 0 0 1px;
        height: 100vh;
    }
    #lifestyle-two .carte {
        width: 588px !important;
        padding: 0px;
        color: black;
        text-align: justify;
        align-self: flex-end;
        margin: -59px 0 74px 0;
        padding: 0!important;
    }
    .lifestyle-txt-2
    {
        width: 558px;
        height: 136px;
        font-weight: 200;
        font-style: normal;
        letter-spacing: .06em;
        line-height: 1.5em;
        text-transform: none;
        color: rgba(33,33,33,.94);
        display: flex;
        flex-direction: column;
        margin-top: 17%;
        margin-left: 12%;
        justify-content: center;
        text-align: left;
    }
    #the4divs
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .homeMadeThumb
    {
        padding: 0!important;
        width: 100%;
        height: auto;
    }
    .col-md-3 
    {
        flex: 1!important;
        max-width: 100%!important;
        padding: 0;
    }
    #the4divs img
    {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    #num33
    {
        margin-bottom: -8px;
    }


    /* book now */
    section#pageContent
    {
        width: 100%;
        padding: 0;
        margin: 20px 0;
        flex-direction: column;
        overflow-x: hidden;
    }
    #costumeBook img
    {
        width: 100%;
        height: auto;
        margin : 0 auto;
    }
    .col-md-1
    {
        display: none
    }
    #planning
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    #planning p
    {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        font-size: 18px;
    }
    .yui3-calendar
    {
        height: auto!important;
    }
    #mycalendar
    {
        width: inherit;
        margin: 0 auto;
    }
    #firstRow
    {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction:column;
    }
    .blocSeparator
    {
        display: none;
    }
    #separator-left-right
    {
        display: none;
    }
    .getInTouchWord
    {
        margin:0px;
        padding-bottom: 0;
    }
    .getInTouchWord2
    {
        padding-top: 0;
        padding-bottom: 0;
    }
    .write-left
    {
        float: none;
        font-size: 18px;
    }
    .write-right
    {
        margin-top: -50px!important;
        font-size: 18px;
    }
    .write-left-right
    {
        width: 100%;
        padding: 0;
        margin: 0 0 50px 0;
    }
    #secondRow
    {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    #costumeTextBook
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contactform
    {
        padding: 0 17px;
    }
    #submit
    {
        width: 100%;
        align-self: center;
    }
    .getbacktop
    {
        width: 100%;
        height: auto;
    }
    .getbacktop-home
    {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    button.btn
    {
        margin: 25px auto 20px auto;
    }
    footer
    {
        width: 100%;
        height: 350px;
        padding: 0 17px!important;
    }
    .footer-home-content
    {
        display: flex;
        width: 100%;
        height: auto;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
       margin: 0 auto 0 auto;
       background: white;
       padding: 0;
    }
    div.footer-content
    {
       display: flex;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
       margin: 0 auto 0 auto;
       background: white;
    }
    #rights
    {
        margin: 0 auto;
        font-size: 14px;
        margin-bottom: 10px;
    }
    #social-media
    {
        margin: 0 auto;
        font-size: 12px;
        margin-bottom: 10px;
    }
    #madeby
    {
        margin: 0 auto;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .footer-content2
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        color: #222222;
        z-index: 6;
    }
    #social-media2 a
    {
        color: #222222!important;
        font-size: 12px;
    }
    #rights2
    {
        margin: -30px auto 10px auto;
        float: none;
        text-decoration: none;
        list-style-type: none;
        font-size: 14px;
    }
    #madeby2
    {
        font-size: 12px;
        margin: 0 auto 20px auto;
        float: none;
    }
    .footer-content3
    {
        display: flex;
        flex-direction: column;
        color: #222222;
        height: auto;
    }
    #social-media3 a
    {
        color: #222222!important;
        font-size: 12px;
        margin-bottom: 10px;
    }
    #rights3
    {
        margin: -40px auto 10px auto;
        float: none;
        text-decoration: none;
        list-style-type: none;
        font-size: 14px;
    }
    #madeby3
    {
        font-size: 12px;
        margin: 0 auto 10px auto;
        float: none;
    }
    .messent span
    {
        font-size: 14px;
    }
}